/* FONTS */

@font-face {
	font-family: 'TradeGothicLTStd-regular';
	src: url('fonts/tradegothicltstd-boldext.eot');
	src: local('☺'), url('fonts/tradegothicltstd-boldext.woff') format('woff'), url('fonts/tradegothicltstd-boldext.ttf') format('truetype'), url('fonts/tradegothicltstd-boldext.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Ogg';
	src: url('fonts/Ogg Roman.eot');
	src: local('☺'), url('fonts/Ogg Roman.woff') format('woff'), url('fonts/Ogg Roman.ttf') format('truetype'), url('fonts/Ogg Roman.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TradeGothicLTStd-BoldExt';
	src: url('fonts/tradegothicltstd-boldext.eot');
	src: local('☺'), url('fonts/tradegothicltstd-boldext.woff') format('woff'), url('fonts/tradegothicltstd-boldext.ttf') format('truetype'), url('fonts/tradegothicltstd-boldext.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'TradeGothicLTStd-RegExt';
	src: url('fonts/TradeGothicLTStd-Extended.eot');
	src: local('☺'), url('fonts/TradeGothicLTStd-Extended.woff') format('woff'), url('fonts/TradeGothicLTStd-Extended.ttf') format('truetype'), url('fonts/TradeGothicLTStd-Extended.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot');
    src:  url('fonts/icomoon.eot') format('embedded-opentype'),
      url('fonts/icomoon.ttf') format('truetype'),
      url('fonts/icomoon.woff') format('woff'),
      url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .icon-search:before {
    content: "\e902";
  }
  .icon-arrow-right:before {
    content: "\e901";
  }
  .icon-shopping-bag:before {
    content: "\e900";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }

/* Basics */

*{
    margin: 0;
    padding: 0;
    font-family: 'TradeGothicLTStd-RegExt';
    font-size: 16px;
    color: #000000;
    box-sizing: border-box;
}

body{
   
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

/* covid_section */

.covid_section{
    background: #f2f2f2;
    text-align: center;
}
.covid_section_link{
    font-size: 12px;
    color: #000000;
    line-height: 17px;
    text-decoration: none;
}

.main_supheader_item{
    float: right;
    font-family: 'icomoon';
    font-size: 20px;
    padding: 10px 5px;
    text-decoration: none;
}
.main_supheader_item:last-of-type:before{
    content: "\e902";
}
.main_supheader_item::before{
    content: "\e900";
}
.main_supheader_item:first-of-type:before{
    content: "\e9da";
}

/* main header */

.main_header_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.main_header_nav_list{
    display: flex;
    list-style: none;
    margin-top: 25px;
    margin-bottom: 40px;
}
.main_header_nav_list_item_link{
    font-family: 'TradeGothicLTStd-BoldExt';
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
}

/* first banner */

.first_banner{
    background: #000000;
    text-align: center;
}
.first_banner_title{
    font-family: 'Ogg';
    color: #ffff;
    font-size: 61px;
    font-weight: 100;
    margin-bottom: 15px;
    padding-top: 40px;
}
.first_banner_text{
    color: #ffff;
    line-height: 27px;
    padding: 0 0 52px;
}

/* second banner */

.second_banner_title{
    font-family: 'Ogg';
    font-size: 36px;
    text-align: center;
    padding-top: 57px;
    font-weight: 100;
    position: relative;
    margin-bottom: 45px;
}
.second_banner_title::before{
    content: '';
    background: url(img/Group\ 7.svg) no-repeat;
    height: 200px;
    width: 50%;
    display: block;
    position: absolute;
    top: 20px;
    left: 80px;
}
.second_banner_title::after{
    content: '';
    background: url(img/Group\ 6.svg) no-repeat;
    height: 200px;
    width: 50%;
    display: block;
    position: absolute;
    top: 20px;
    left: 750px;
}

/* third banner */

.swiper-container{
    position: relative;

}

.swiper-wrapper{
    display: flex;
}

.swiper-slide{
    min-width: 100%;
    background: #F4bab5;
    padding: 100px 0;
    overflow-y: hidden;
}

.inner_wrapper{
    display: flex;
    position: relative;
    padding: 0 100px;
}

.swiper-pagination{
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 50%;
}

.swiper-pagination span{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 0 5px;
}
.swiper-pagination-bullet-active{
    background: #000000;
}
.third_banner_left_side{
    text-align: center;
}

.third_banner_left_side_avatar{
    border-radius: 50%;
    z-index: 1;
    position: relative;
    margin-bottom: 80px;
}

.third_banner_left_side_avatar_wrapper::after{
    content: '';
    display: block;
    width: 400px;
    height: 384px;
    background: url(img/Group\ 58maskslide.svg) no-repeat;
    position: absolute;
    top: -118px;
    left: 2px;    
    z-index: 0;
}

.third_banner_left_side_link{
    text-decoration: none;
    font-family: 'TradeGothicLTStd-BoldExt';
    text-transform: uppercase;
    border: 1px solid #000000;
    border-radius: 15px;
    font-size: 11px;
    padding:10px 20px 10px 35px;
    position: relative;
    transition: all .2s ease-in-out;
}
.third_banner_left_side_link::before{
    content: '';
    display: block;
    background: #B3F695;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 11px;
    left: 14px;
    animation-name: live_circle;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;  
    animation-iteration-count: infinite;  
    animation-direction: alternate;
}
.third_banner_left_side_link:hover{
    color: #ffff;
    background: #000000;
}
@keyframes live_circle{
    0%{
        background: #B3F695;
    }
    100%{
        background: #ce1c1c;    
    }
}

.third_banner_right_side{
    margin-left: 130px;
    text-align: center;
}
.third_banner_right_side_suptitle{
    font-family: 'TradeGothicLTStd-BoldExt';
    font-size: 20px;
    margin-bottom: 30px;
}
.third_banner_right_side_title{
    font-family: 'Ogg';
    font-size: 61px;
    font-weight: 100;
    margin-bottom: 30px;
}
.third_banner_right_side_text{
    line-height: 27px;
    margin-bottom: 40px;
}
.third_banner_right_side_link{
    color: #000000;
    font-family: 'TradeGothicLTStd-BoldExt';
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 100px;
    margin-bottom: 90px;
    border: 1px solid #000000;
    transition: all .2s ease-in-out;
}
.third_banner_right_side_link:hover{
    color: #ffff;
    background-color: #000000;
}	

/* Live Recent */

.recent_live_title{
    font-family: 'Ogg';
    font-size: 36px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.recent_live_row{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin: 10px 0;
}
.recent_live_row:first-child{
    padding-right: 0px;
}

.recent_live_row:last-child{
    padding-right: 20px;
}

.recent_live_item_name_text{
    font-family: 'Ogg';
    font-size: 36px;
}

.recent_live_item_image_wrapper{
    background: url(img/recent_live/image_wrapper.svg) no-repeat;
    background-size: 165px 190px;
    background-position: top center;
    width: 200px;
    height: 70%;
    z-index: 2;
}

.recent_live_first_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.first_image{
    margin-top: 10px;
    width: 100%;
    height: 72%;
    z-index: 2; 
}

.recent_live_first_item::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_triangle.svg) no-repeat;
    left: 26px;
    top: -66px;
}
.recent_live_first_item::after{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    background: url(img/recent_live/person_bag.svg) no-repeat;
    z-index: 2;
    top: -40px;
    left: -6px;
}

.recent_live_second_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.second_image{
    margin-top: 10px;
    width: 100%;
    height: 77%;
    z-index: 2;     
}

.recent_live_second_item::before{
    content: '';
    display: block;
    width: 230px;
    height: 120px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_combined_shape.svg) no-repeat;
    left: -4px;
    top: 43px;
}

.recent_live_third_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.third_image{
    margin-top: 10px;
    width: 100%;
    height: 74%;
    z-index: 2;  
}

.recent_live_third_item::after{
    content: '';
    display: block;
    width: 100px;
    height: 110px;
    position: absolute;
    background: url(img/recent_live/light_person.svg) no-repeat;
    z-index: 2;
    top: -75px;
    left: 167px;
}

.recent_live_third_item::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/circle_person.svg) no-repeat;
    left: 101px;
    top: -30px;
}

.recent_live_fourth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.fourth_image{
    margin-top: 10px;
    width: 100%;
    height: 76%;
    z-index: 2;     
}

.recent_live_fourth_item::before{
    content: '';
    display: block;
    width: 215px;
    height: 200px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_combined_shape_2.svg) no-repeat;
    left: 12px;
    top: -22px;
}

.recent_live_fifth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.fifth_image{
    margin-top: 10px;
    width: 100%;
    height: 77%;
    z-index: 2;     
}

.recent_live_fifth_item::before{
    content: '';
    display: block;
    width: 215px;
    height: 200px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_star.svg) no-repeat;
    left: 72px;
    top: 31px;
}

.recent_live_fifth_item::after{
    content: '';
    display: block;
    width: 185px;
    height: 205px;
    position: absolute;
    background: url(img/recent_live/person_search.svg) no-repeat;
    background-size: 200px 200px;
    z-index: 2;
    top: -21px;
    left: -120px;
}

.recent_live_sixth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.sixth_image{
    margin-top: 10px;
    width: 100%;
    height: 75%;
    z-index: 2;     
}

.recent_live_seventh_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recent_live_seventh_item::before{
    content: '';
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/personal_oval.svg) no-repeat;
    left: 14px;
    top: -18px;
}
.recent_live_seventh_item::after{
    content: '';
    display: block;
    width: 100px;
    height: 150px;
    position: absolute;
    background: url(img/recent_live/personal_joker.svg) no-repeat;
    z-index: 2;
    top: -40px;
    left: -6px;
}

.recent_live_eighth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recent_live_eighth_item::before{
    content: '';
    display: block;
    width: 235px;
    height: 215px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_combined_shape_3.svg) no-repeat;
    left: -28px;
    top: -47px;
}

.recent_live_ninth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recent_live_ninth_item::before{
    content: '';
    display: block;
    width: 235px;
    height: 215px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_star2.svg) no-repeat;
    left: 80px;
    top: -71px;
}

.recent_live_tenth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recent_live_tenth_item::before{
    content: '';
    display: block;
    width: 235px;
    height: 215px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_polygon.svg) no-repeat;
    left: -12px;
    top: 16px;
}

.recent_live_eleventh_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recent_live_eleventh_item::before{
    content: '';
    display: block;
    width: 230px;
    height: 115px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/person_combined_shape_4.svg) no-repeat;
    left: -2px;
    top: 48px;
}

.recent_live_eleventh_item::after{
    content: '';
    display: block;
    width: 120px;
    height: 150px;
    position: absolute;
    background: url(img/recent_live/personal_circus.svg) no-repeat;
    z-index: 2;
    top: -18px;
    left: 123px;
}

.recent_live_twelfth_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.recent_live_twelfth_item::before{
    content: '';
    display: block;
    width: 230px;
    height: 115px;
    position: absolute;
    z-index: 2;
    background: url(img/recent_live/personal_triangle_2.svg) no-repeat;
    left: 77px;
    top: -38px;
}

/* footer */

.footer{
    background: #f2f2f2;
}

.footer_wrapper{
    display: flex;
}

.footer_nav{
    min-width: 70%;
    padding-bottom: 50px;
}

.footer_nav_titles_list{
    list-style: none;
    display: flex;
}
.footer_nav_titles_list_item{
    margin: 0 42px;
}

.footer_nav_titles_list_item:first-child{
    margin-right: 24px;
    margin-left: 0;
}

.footer_nav_titles_list_item:last-child{
    margin-left: 24px;
    margin-right: 80px;
}

.footer_nav_titles_list_title{
    margin-bottom: 15px;
    padding-top: 90px;
    font-size: 11px;
}

.footer_nav_titles_list ul{
    list-style: none;
}

.footer_nav_titles_list_item_subitem{
    padding: 3px 0;
    position: relative;
}

.footer_nav_titles_list_item_link::after{
    content: '';
    height: 2px;
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 1px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: left center;
}

.footer_nav_titles_list_item_link:hover::after{
    transform: scaleX(1);
}

.footer_nav_titles_list_item_link{
    text-decoration: none;
    font-size: 11px;
}

.footer_letter_form_text{
    padding-top: 90px;
    padding-right: 30px;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 15px;
}

.footer_letter_form_wrapper{
    position: relative;
}

.footer_letter_form_input{
    background: transparent;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 2px solid #000000;
    width: 100%;
    outline: none;
    height: 30px;
}

.footer_letter_form_input::placeholder{
    font-size: 11px;
}

.footer_letter_form_placeholders_btn::before{
    content: "\e901";
    font-family: 'icomoon';
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.1s linear;
}


@media(max-width:425px){
    .container{
        max-width: 410px;
    }

    .covid_section{
        padding: 10px 20px;
        font-size: 8.5px;
        line-height: 12px;
    }

    .main_header_logo{
        min-width: 100%;
        padding-bottom: 30px;
    }

    .main_header_nav{
        display: none;
    }

    .burger_menu{
        float: left;
    }

    .burger_menu span{
        width: 30px;
        margin-bottom: 5px;
        height: 1px;
        display: inline-block;
        background: #000000;
    }

    .burger_menu span::before{
        content: '';
        margin-top: 4px;
        width: 30px;
        height: 1px;
        display: block;
        background: #000000;
    }

    .burger_menu span::after{
        content: '';
        margin-top: 3px;
        width: 30px;
        height: 1px;
        display: block;
        background: #000000;
    }

    .mobile_nav_menu{
        background-color: #FFF;
        width: 80%;
        height: 100%;
        z-index: 1;
        left: -350px;
        top: 0;
        position: absolute;
        overflow: hidden;
        transition: all .2s ease-in;
    }

    .mobile_nav_menu .main_header_nav_list{
        display: inline;
    }

    .mobile_nav_menu .main_header_nav_list_item{
        padding-left: 30px;
        padding: 5px 10px;
    }

    .mobile_nav_menu .main_header_nav_list_item:first-of-type{
        padding-top: 30px;
    }

    .overlay{
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    .close_burger_menu{
        display: none;
    }
    .close_burger_menu span:first-of-type{
        margin-top: 3px;
        width: 30px;
        height: 1px;
        display: block;
        background: #fff;
        transform: rotate(45deg);
        position: absolute;
        right: 40px;
        top: 30px;
        z-index: 4;
    }
    .close_burger_menu span:last-of-type{
        margin-top: 3px;
        width: 30px;
        height: 1px;
        display: block;
        background: #ffff;
        transform: rotate(-45deg);
        position: absolute;
        right: 40px;
        top: 30px;
        z-index: 4;
    }
}

